@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  @font-face {
    font-family: "Fraunces";
    src: url("assets/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
      format("truetype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("assets/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 500 700;
  }

  :root {
    /* Primary Colors */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    /* Neutral Colors */
    --black: hsl(212, 21%, 14%);
    --gray: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);

    /* Font Families */
    --font-fraunces: "Fraunces", serif;
    --font-montserrat: "Montserrat", sans-serif;

    /* Font Sizes */
    --fs-300: 0.875rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 1.75rem;
    --fs-700: 2rem;
  }

  html {
    font-family: var(--font-montserrat);
    line-height: 1.5;
  }

  body {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    padding: 2em;
  }

  .wrapper {
    background-color: var(--white);
    max-width: 60%;
    border-radius: 1em;
    padding-bottom: 2em;
    margin: 0 auto;
  }

  img {
    width: 100%;
    block-size: auto;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-bottom: 1em;
  }

  .text-box {
    display: grid;
    padding: 0 1.5em;
  }

  h1 {
    grid-column: 1;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: var(--fs-400);
    text-transform: uppercase;
    color: var(--gray);
    padding: 0.25em 0;
  }

  h2 {
    grid-column: 1/2;
    font-family: var(--font-fraunces);
    font-weight: 700;
    font-size: var(--fs-700);
    color: var(--black);
    padding: 0.25em 0;
  }

  p {
    grid-row: 3;
    font-family: var(--font-montserrat);
    font-size: var(--fs-300);
    color: var(--gray);
    padding: 0.25em 0;
  }

  .regular {
    grid-row: 4;
    grid-column: 1;
    font-family: var(--font-fraunces);
    font-weight: 700;
    font-size: var(--fs-700);
    color: var(--green-500);
  }

  .line-thru {
    grid-row: 4;
    grid-column: 1;
    padding-top: 1.5em;
    padding-left: 10em;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: var(--fs-300);
    color: var(--gray);
    text-decoration: line-through;
  }

  button {
    grid-row: 5;
    background-color: var(--green-500);
    color: var(--white);
    font-family: var(--font-montserrat);
    font-size: var(--fs-300);
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    background-image: url(./images/icon-cart.svg);
    background-position: 6em;
    background-repeat: no-repeat;
    background-size: 1em;
  }

  .attribution {
    font-size: 1em;
    text-align: center;
  }
  .attribution a {
    color: var(--green-700);
    text-decoration: none;
  }
  .attribution a:hover {
    text-decoration: underline;
    color: var(--green-500);
  }
}
